<app-header></app-header>

<h1>{{title}}</h1>

<app-child [item]="data"></app-child>

<button (click)= "updateChild()">Submit</button>


























<!--<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">-->
<!--  <input type="text" ngModel name="name" placeholder="Enter Name" />-->
<!--  <br />-->
<!--  <br />-->
<!--  <input type="text" ngModel name="email" placeholder="Enter Email" />-->
<!--  <br />-->
<!--  <br />-->
<!--  <input type="password" ngModel name="password" placeholder="Enter Password" />-->
<!--  <br />-->
<!--  <br />-->
<!--  <button>Submit</button>-->
<!--</form>-->

<!--<ul>-->
<!--  <li>{{userData.name}}</li>-->
<!--  <li>{{userData.email}}</li>-->
<!--</ul>-->


<!--<input type="text" placeholder="Enter Your Name" #task />-->
<!--<br />-->
<!--<br />-->
<!--<button (click)="addData(task.value)">Submit</button>-->

<!--<ul *ngFor="let item of list">-->
<!--  <li>-->
<!--      {{item.name}}-->
<!--    <button (click)="removeTask(item.id)">Delete</button>-->
<!--  </li>-->
<!--</ul>-->
